<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <title>Nick Pachulski</title>
    <meta charset="utf-8" />
    <meta
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
      name="viewport"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/post.css" />
    <link rel="stylesheet" href="/assets/css/page.css" />
    <link rel="stylesheet" href="/assets/css/about.css" />
    <link rel="stylesheet" href="/assets/css/work-with-me.css" />
    <link rel="stylesheet" href="/assets/css/thanks.css" />
    <script src="/assets/js/script.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="nav-anchor">
      <div id="nav-container">
        <a id="home-link" href="{{ site.url }}">Nick Pachulski</a>

        <!-- web -->
        <div id="nav-links">
          <a href="/about">About</a>
          <a href="https://github.com/pachun">Github</a>
          <a href="mailto:nick@pachulski.me">Email</a>
          <button
            id="work-with-me-button"
            onclick="location.href = '/work-with-me';"
          >
            Work With Me
          </button>
        </div>

        <!-- mobile -->
        <button id="hamburger-button" onclick="showMobileNavigationMenu()">
          <img
            src="/assets/images/hamburger-icon.svg"
            alt="Menu"
            id="hamburger-button-image"
          />
        </button>
        <div id="mobile-nav-container">
          <div id="mobile-nav">
            <button
              id="close-mobile-nav-button"
              onclick="hideMobileNavigationMenu()"
            >
              <img
                src="/assets/images/x-icon.svg"
                alt="Close Menu"
                id="x-image"
              />
            </button>
            <div id="mobile-nav-links-container">
              <a href="/about">About</a>
              <a href="https://github.com/pachun">Github</a>
              <a href="mailto:nick@pachulski.me">Email</a>
              <button
                id="mobile-work-with-me-button"
                onclick="location.href = '/work-with-me';"
                >Work With Me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="page-content">{{ content }}</div>
  </body>
</html>
